/* DIMENSION OF ELEMENTS */
@media screen and (max-width: 768px) {
    :root {
        font-size: 13px !important;
        --sidebar-width: 240px !important;
        overflow: hidden !important;
    }
    .page {
        padding-left: 6rem !important;
    }
    .images {
        clip-path: none;
        border-radius: 3em;
        max-width: 20rem !important;
    }
}
:root {
    --sidebar-width: 280px;
    --text-menu: 1.5rem;
    font-size: 16px;
}    
* {
    box-sizing: border-box;
}

body {
    background: var(--surface-50);
    margin: 0;
    padding: 0;
}

.app {
    display: flex; 
}
.app main {
    flex: 1 1 0;
}
.page {
    border-radius: 3em;
    padding: 0 1rem;
    min-height: 100vh;
}
.images {
    clip-path: none;
    border-radius: 3em;
    max-width: 30rem;
}
a {
    text-decoration: none;
    padding: 0.6em;
    color: var(--surface-800);
}
.router-link-active.router-link-exact-active {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    border-radius: 3em;
}